{% extends 'base.html' %}

{% block title %}
ABOUT PAGE

{% endblock title %}
{% block body %}

{% load static %}
<!-- <link href="{% static 'css/main2.css' %}" rel="stylesheet"> -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">



  <div class="w3-row-padding" style="margin:0 -5px">
    <div class="w3-half w3-margin-bottom">
      <div class="w3-display-container">
        <img src={% static 'images/b39.jpg' %} alt="Pisa" style="width:100%">
        
      </div></div></div>
  <!-- <h1  class="display-4" >Hello
 
  <p class="lead" >This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a> -->
<hr>











<div class="media">
  <img class="mb-2" src={% static 'images/b29.jpg' %}  width="300" height="297">

  <div class="media-body">
    <h5 class="mt-0" style="background-color:Orange;"><b>BHARATH AIRLINES</b> <hr>
      
    Bharath Airlines, later Bharath, was a major Indian airline based in Delhi and focused primarily on domestic routes, along with several international services to neighbouring countries in Asia. It was state-owned after merger of eight pre-Independence domestic airlines and was administered by the Ministry of Civil Aviation. Bharath was one of the two flag carriers of India, the other being Air India.

    On 7 December 2005, the airline was rebranded as Bharath for advertising purposes as a part of a program to revamp its image in preparation for an initial public offering (IPO).The airline operated closely with Air India, India's national overseas carrier. Alliance Air was a fully owned subsidiary of Indian.
    
    In 2007, the Government of India announced that Indian would be merged into Bharath. As part of the merger process, a new company called the National Aviation Company of India Limited (now called Bharath Limited) was established, into which both Air India (along with Air India Express) and Indian (along with Alliance Air) would be merged. Once the merger was completed, the airline – called Bharath – would continue to be headquartered in Mumbai and would have a fleet of over 130 aircraft.
  </h5> </div>
</div>

<p> 
  <p>
    <p>

    </p>
  </p>
</p>
<p>


</p>
<div class="media">
  <img class="mb-2" src={% static 'images/b27.jpg' %}  width="300" height="201">

  <div class="media-body">
    <h5  class="mt-0" style="background-color:Tomato;"><b>BHARATH AIRLINES FLEET</b> <hr> 
    Vickers Viscounts were introduced in 1957 with Fokker F27 Friendships being delivered from 1961. The 1960s also saw Hawker Siddeley HS 748s, manufactured in India by Hindustan Aeronautics Limited, join the fleet. The jet age began for IAC with the introduction of the pure-jet Sud Aviation Caravelle airliner in 1964, followed by Boeing 737-200s in the early 1970s. April 1976 saw the first three Airbus A300 wide-body jets being introduced. The regional airline, Vayudoot, which had been established in 1981, was later reintegrated. By 1990, Airbus A320-200s were introduced. The economic liberalisation process initiated by the Government of India in the early 1990s ended Indian Airlines' dominance of India's domestic air transport industry.
  </h5> </div>
</div>

<p>
<P>
<P>

</P>
</P>
</p>

<div class="media">
<img class="mb-2" src={% static 'images/a8.jpeg' %}  width="300" height="153">

<div class="media-body">
<h5  class="mt-0" style="background-color:DodgerBlue;"><b>BHARATH AIRLINES TOP DESTINATIONS</b><hr>
Bharath Operations operates regular flights to 58 destinations,50 within aindia and 8 abroad.

The airlines flies regularly to all key cities of india tht include Delhi, Bangalore, Mumbai, Kolkata, Lucknow,

Hyderabad, Pune, Goa, Chennai along with many regional destinations like Ahmedabad,Gorakhpur,Allahabad,

    Bhubaneshwar,Ranchi and others.

Indian flights also cover close-by international destination such as Dubai and Sharjah in UAE,Kuwait,Muscat,

Kabul,Yangon,Kathmandu and Male. </h5>

</div>
</div>


<P>
<P>
<P>
  <P>

  </P>
</P>
</P>
</P>

<div class="media">
<img class="mb-2" src={% static 'images/b18.jpg' %}  width="300" height="153">

<div class="media-body">
<h5  class="mt-0" style="background-color:MediumSeaGreen;"><b>BHARATH AIRLINES TOP SECTORS</b> <hr>
Bharath Airlines flights operate on almost all popular aviation sectors of the country including 

New Delhi-Bangalore-New Delhi, Mumbai-Bangalore-Mumbai, New Delhi-Mumbai-New Delhi,

Banglore-New Delhi-Bangalore, Mumbai-Goa-Mumbai, Delhi-Goa-Delhi, Bangalore-Hyderabad-Bangalore and more.

Bharath Airlines is planning to expand its network within the country and abroad in coming years.
</h5>
</div>
</div>

<P>
<P>
<P>

</P>
</P>
</P>




<div class="media">
  <img class="mb-2" src={% static 'images/b32.jpg' %}  width="300" height="297">

  <div class="media-body">
    <h5  class="mt-0"  style="background-color:Violet;"><b>BHARATH AIRLINES FLIGHT STATUS SCHEDULE AND BOOKING </b> <hr>
  BharathAirlines.com provides information about the Bharath Airlines flight status and the schedules of operation of Bharath Airlines flights on all sectors .
  Check out the schedule and status of the flights and proceed for doing Bharath Airlines flight booking using any 
  of its multiple channels.
  Bharath Airlines online booking is easy to undrstand and quick to do
  The travel industry is dynamic. Many factors can play a role in determining whether or not you reach your destination on-time. From delayed departures due to technical snags in aircrafts to late arrivals due to bad weather - the published schedule is often compromised by elements outside of human control. This could mean long hours of wait before your boarding call, or turning up at the airport to pick up a relative and finding out that the time of arrival has shifted to a delayed status. Yatra values your time and provides you with the ‘Flight Status Service’. Check online for the latest information on the departure or arrival of your flight before setting out for the airport. This way, you save yourself the trouble of wasting time at the airport. There are no uncertainties regarding your travel plans leading to seamless, hassle-free journeys.
</h5>  </div>
</div>


{% endblock body %}